# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
MenuDemo/Debug/vc90.pdb
*.idb
QQDemo/Debug/color_skin.obj
*.obj
QQDemo/Debug/QQDemo.map
*.pdb
*.ncb
DuiLib.suo
*.pch
FlashDemo/Debug/FlashDemo.map
*.bsc
FlashDemo/FlashDemo.vcproj.wengmq-PC.wengmq.user
*.user
QQDemo/Debug/mt.dep
*.dep
*.map

/360SafeDemo/Debug/
/DuiLib/Build/Debug
/DuiLib/Build/Debug_u/
/QQDemo/Debug/
/TestApp1/Debug/
/lib/
/bin/*.dll
/bin/*.exe
/FlashDemo/Debug/
/GameDemo/Debug/
/ListDemo/Debug/
/MenuDemo/Debug*/
/RichListDemo/Debug*/
/ScrCapture/Debug*/
